<h2>Editar informações</h2>
<h3><% unless @song.author.empty? %>
    <%= "#{@song.author} - " %>
<% end %><%= @song.title %></h3>

<%= render 'form_edit', song: @song %>

<%= link_to 'Voltar', songs_path %>
