/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p.notice {
    color: green;
    font-weight: bold;
}
p.alert {
    color: red;
    font-weight: bold;
}
table.homemenu {
    margin-left: auto;
    margin-right: auto;
}
p.text {
    font-family: monospace;
}
div.phome {
    text-align: center;
}
span.verse {
    font-weight: bolder;
}
span.chords {
    white-space: pre;
    color:#cc0000;
    font-weight: bold;
}
span.lyrics {
    white-space: pre;
}
span.boldred {
    color:#cc0000;
    font-weight: bold;
    font-size: 18px;
}
div.field input, div.field textarea {
    width:95%;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* automatic scrolling */
div.scplayer {
    position: fixed;
    top: 0;
}
.sccontrol {
    display: inline-block;
    position: relative;
}
.sccontrol_front {
    position: absolute;
}
.scbtactive {
    z-index: 1;
}
#scpause, #scplay, #sctop, #scfast, #scslow, #scloc, #scspeed {
    position: relative;
}
